
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ActionMethod</title>
</head>
<body>
    <div> 
        <ul>
            <li><b>UserName: </b> @ViewBag.UserName</li>
            <li><b>ServerName: </b>@ViewBag.ServerName</li>
            <li><b>ClientIP: </b>@ViewBag.ClientIP</li>
            <li><b>TimeStamp: </b>@ViewBag.TimeStamp</li>
        </ul>
    </div>
</body>
</html>
