
@{
    Layout = null;
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    <div>
        <h2>My View</h2>
        Сообщение от контроллера &laquo;@ViewBag.Message&raquo;
    </div>
</body>
</html>
