@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ID</title>
</head>
<body>
    <div>
        <div>ID: <strong>@ViewBag.ID</strong></div>
    </div>
</body>
</html>
