@model DateTime
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Дата: @Model.Date <br/>
        День недели: @Model.DayOfWeek
    </div>
</body>
</html>
