body{
    margin: 0;
    font-family: "Courier New", serif;
    font-size: 14px;
    color: lightslategray;
    line-height: 1.6;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}
/* container */
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.intro1{
    width: 100%;
    margin: 0 auto;
    background: darkslategray;
}

.class{
    font-size: 30px;
    color: midnightblue;
    font-family: Algerian,sans-serif;
}

