﻿
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>@ViewBag.Title</h1>
    <div style="padding: 20px; border: solid medium black; font-size: 20pt">
        @RenderBody()
    </div>
    <br />
    <br />
    <br />
    <h2>Посетите сайт <a href="http://korobchinskiy.com">korobchinskiy.com</a></h2>
</body>
</html>

