body{
    margin: 0;
    padding: 0;

}
h1,h2,h3{
    margin: 0;
    padding: 0;
}
intro{
    width: 100%;
    height: 100vh;
}

.container{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}
.header{
    width: 100%;
    margin: 0 auto;
    height: 40px;
    background: darkslategray;
    font-family: "Montserrat Thin", serif;
    color: #fff;
    padding-top: 7px;
}

.logo{
    font-size: 30px;
    font-weight: 700;
}

.nav{
    font-size:14px;
    text-transform: uppercase;
}

.nav_link{
    color:#fff;
    text-decoration: none;
    transition: color .2s linear;
    font-weight: 700;
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
}
.nav_link:hover{
    color: dimgray;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content{
    height: 500px;
    width: 100%;
}

.cont{
    height: 100%;
    width: 70%;
    background: #56817f;
    float: right;
    border-left: 2px solid #fff;
}

.left_bar{
    height: 100%;
    width: 30%;
    background: #d4d4d4;
}

.footer{
    background: #192a29;
    height: 62px;
    width: 100%;
}

.img_left_bar{
    padding-top: 30px;
    padding-left: 90px;
}

.article_title{
    padding-top: 20px;
    text-align: center;
    font-family: "Montserrat Thin", sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: 1000;
    font-size: 30px;
}

.p{
    text-align: left;
    padding-top: 20px;
    font-family: "Montserrat Thin", sans-serif;
    color: #fff;
    font-weight: 1000;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.img_footer{
    width: 25px;
    height: 25px;
    margin: 0 10px;
}

.social{
    padding-top: 15px;
    padding-right: 70px;
    text-align: right;
}

.video_left_bar{
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
}





