@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Body{
    <div>
        <em>Это файл представления <b>~/Views/Common/List.cshtml</b></em>
    </div>
    }

@section Footer{
    <div class="view">
        Это футер @ViewBag.Title
    </div>}

@*<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>List</title>
    </head>
    <body>
        <div>
            <em>Это файл представления <b>~/Views/Common/List.cshtml</b></em>
        </div>
    </body>
    </html>*@